.wholePage{
    width: 100vw;
    height: 200vh;
}

.mainImage{
    background-color: aqua;
    height: 65vh;
}

.otherStuff{
    width: 66%;
    margin-left: 17%;
    display: flex;
    flex-direction: column;
}