.about-container {
    margin-top: -15vh;
    background-color: #f7fafc;
}

.about-title {
    font-size: 2.5vw;
    text-align: center;
    font-size: bold;
}

.about-hr {
    width: 50%;
}

.about-description {
    display: grid;
    margin: 4vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25vw;
}

.about-img-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    overflow: hidden;
}

.about-img {
    width: 75%;
    height: auto; 
}

.about-bio-container {
    width: 75%;
}

.about-bio {
    font-size: 24px;
}